			body{
				background: url(../Im/1.jpg) center center no-repeat  fixed;  
				background-size: cover;
				background-color: #cccccc;
				margin-left: 1%;
				margin-right: 1%;
				padding: 0.5% 0.5% 0.5% 0.5%;
				font-family: Lucida Sans Unicode, Verdana, sans-serif;
				overflow-y: auto;
				}
			}
			.table {
				display: inline-grid;
				grid-template-columns: 20% 80%;
				margin: 1px;
				font-size: 16px;
				border: 1px solid Gainsboro;
				width: 100%;
							
			}
<!--
			@media screen (max-width: 1024px) {
				.Tith1 {font-size: 200%;}
				.Tith2 {font-size: 150%;}
				.table {font-size: 100%;}
				.Canva {width: 100%;}
			}
-->
			.t1 {
  				background-color: #FFFAFA;
				display: grid;
  				place-items: center;
				border: 1px solid Gainsboro;
				font-weight: bold;
			}
			.t2 {
  				background-color: #FFFAFA;
				display: grid;
  				place-items: center;
				border: 1px solid Gainsboro;
				font-weight: bold;
			}
			.t3 {
  				background-color: #FFFAFA;
				display: grid;
  				place-items: center;
				border: 1px solid Gainsboro;
				font-weight: bold;
			}
			#sh1 {
				display: grid;
				padding: 1%;
				word-wrap: break-word;
			}
			#sh2 {
				display: grid;
				padding: 1%;
				word-wrap: break-word;
			}
			#sh3 {
				display: grid;
				padding: 1%;
				word-wrap: break-word;
			}
			#sh1:hover {background-color: #f5f5f5;}
			#sh2:hover {background-color: #f5f5f5;}
			#sh3:hover {background-color: #f5f5f5;}
