			body{
				background: url(../Im/1.jpg) center center no-repeat  fixed;  
				background-size: cover;
				background-color: #cccccc;
				margin-left: 1%;
				margin-right: 1%;
				padding: 10px 10px 10px 10px;
				font-family: Lucida Sans Unicode, Verdana, sans-serif;
				}
			h4 {
				font-weight: bold;
				font-size: 16;
			}
			p {
				font-size: 16;
			}
			.table {
				display: grid;
				grid-template-columns: 10% 90%;
				font-size: 16;
				margin: 1px;
			}
			.t1 {
  				background-color: #FFFAFA;
				display: grid;
  				place-items: center;
				padding: 0;
				border: 1px solid Gainsboro;
				font-weight: bold;
			}
			.t2 {
  				background-color: #FFFAFA;
				display: grid;
  				place-items: center;
				padding: 0;
				border: 1px solid Gainsboro;
				font-weight: bold;
			}
			.t3 {
  				background-color: #FFFAFA;
				display: grid;
  				place-items: center;
				padding: 0;
				border: 1px solid Gainsboro;
				font-weight: bold;
			}
			#sh1 {
				display: grid;
				font-size: 16;
			}
			#sh2 {
				display: grid;
				font-size: 16;
			}
			#sh3 {
				display: grid;
				font-size: 16;
			}
			#sh1:hover {background-color: #f5f5f5;}
			#sh2:hover {background-color: #f5f5f5;}
			#sh3:hover {background-color: #f5f5f5;}
<!--
			table {
				table-layout: fixed;
				padding: 1px;
				margin: 1px;
				text-align: center;
				font-family: Lucida Sans Unicode, Verdana, sans-serif;
				}
			th{
    				background-color: #708090;
				//opacity: 0.5;
				width: 20%;
    				color: black;
				font-family: Verdana, sans-serif;
				}
			td{
				//background-color: #F5F5F5;
				border-bottom: 1px solid #ddd;
				word-wrap: break-word;
				}
			#sh1 #sh2 #sh3:hover {background-color: #f5f5f5;}
-->
